@{
    Layout = "_Layout";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>

    @*Start Body*@
    <center class="m-5">
        <div>
            <h1>Welcome To About Us Page</h1>
        </div>
    </center>
    @*End Body*@

</body>
</html>
