
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

   
    @*Start Body*@
    <center class="m-5">
        <div>
            <h1>Welcome To Home</h1>
        </div>
    </center>
    @*End Body*@

</body>
</html>
